<html>
  {% include "header.njk" %}

  <body class = "background slideshow">
    <div class = "blur-out-expand-fwd">
      <h1 class = "center">AniPersona</h1>
    </div>

      <section class="quiz-section">
        {% include "form.njk" %}
      </section>
  </body>

</html>