<html>
  {% include "header.njk" %}

  <body class = "background slideshow">
    <h1 class = "center">AniPersona</h1>

      <section class="quiz-section">
        {% include "form.njk" %}
        <div id="result">
          <button type="submit">Submit</button>
        </div>
      </section>
  </body>

</html>