/*Unique Text*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');

h1{
  color: #ef4444;
  font-size: 40px;
}

body{
  font-family: 'Quicksand', sans-serif;
  background: linear-gradient(135deg, #0f172a, #1e293b, #ef4444, #3b82f6, #a5a5a5);
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  text-align: center;
}

@keyframes gradient {
  0% { background-position: 0% 50%; }
  25% { background-position: 50% 50%; }
  50% { background-position: 100% 50%; }
  75% { background-position: 50% 50%; }
  100% { background-position: 0% 50%; }
}

.center{
    text-align: center;
}

.frosted-paragraph {
  background-color: transparent;
  color: #facc15;
  backdrop-filter: blur(2px);
  padding: 20px;
  border-radius: 12px;
  border: 2px solid #facc15;
  box-shadow: 0 0 12px #967a08,
              0 0 24px #967a08;
  transition: all 0.3s ease-in-out;
  margin: 20px 0;
  width: 550px;
  height: auto;
}

.frosted-paragraph:hover {
  background: #f87171;
  border: 2px solid #f87171;
  color: rgb(243, 239, 239);
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 18px #ec7676,
              0 0 36px #980d0d;
  transform: scale(1.02);
}

/* CENTERING */

img {
  display: block;
  margin: 0 auto;
}

/* BACKGROUND IMAGES */
.background {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  animation: backgroundShift 15s infinite;
}

@keyframes backgroundShift {
  0% {
    background-image: url("photo/JJK_Home.jpg");
  }

  25% {
    background-image: url("photo/DBZ_Home.jpg");
  }

  50% {
    background-image: url("photo/OnePiece_Home.jpg");
  }

  75% {
    background-image: url("photo/BlueLock_Home.jpg");
  }

  100% {
    background-image: url("photo/JJK_Home.jpg");
  }
}

.slideshow {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  animation: fade 20s infinite;
  z-index: -1;
}

.img1 { 
  background-image: url("photo/JJK_Home.jpg"); 
  animation-delay: 0s;
}

.img2 { 
  background-image: url("photo/DBZ_Home.jpg"); 
  animation-delay: 6s;
}

.img3 { 
  background-image: url("photo/OnePiece_Home.jpg"); 
  animation-delay: 12s;
}

.img4 { 
  background-image: url("photo/BlueLock_Home.jpg"); 
  animation-delay: 18s;
}

.img5 { 
  background-image: url("photo/JJK_Home.jpg"); 
  animation-delay: 20s;
}

@keyframes fade {
  0% { opacity: 0; }
  10% { opacity: 1; }
  30% { opacity: 1; }
  40% { opacity: 0; }
  100% { opacity: 0; }
}

/* FORM GRID */

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.question {
  display: flex;
  flex-direction: column;
}

/*BUTTON ALT*/

button {
  background-color: transparent;
  color: #ef4444;
  border: 2px solid #ef4444;
  border-radius: 12px;
  padding: 10px 16px;
  transition: all 0.3s ease-in-out;
}

button:hover {
  color: white;
  background: #facc15;
  border: 2px solid #facc15;
  box-shadow: 0 0 18px #f4dc7b,
              0 0 36px #967a08;
  transform: scale(1.02);
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	        animation: heartbeat 1.5s ease-in-out infinite both;
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

/* ANIMISTA */

.blur-out-expand-fwd {
	-webkit-animation: blur-out-expand-fwd 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
	        animation: blur-out-expand-fwd 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
}

@-webkit-keyframes blur-out-expand-fwd {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-filter: blur(0.01);
            filter: blur(0.01);
  }
  100% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
            transform: translateZ(300px);
    -webkit-filter: blur(12px) opacity(0%);
            filter: blur(12px) opacity(0%);
  }
}
@keyframes blur-out-expand-fwd {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-filter: blur(0.01);
            filter: blur(0.01);
  }
  100% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
            transform: translateZ(300px);
    -webkit-filter: blur(12px) opacity(0%);
            filter: blur(12px) opacity(0%);
  }
}

.blur-out-contract-bck {
	-webkit-animation: blur-out-contract-bck 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 7s both;
	        animation: blur-out-contract-bck 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 7s both;
}

@-webkit-keyframes blur-out-contract-bck {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-filter: blur(0.01);
            filter: blur(0.01);
  }
  100% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-500px);
            transform: translateZ(-500px);
    -webkit-filter: blur(12px) opacity(0%);
            filter: blur(12px) opacity(0%);
  }
}
@keyframes blur-out-contract-bck {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-filter: blur(0.01);
            filter: blur(0.01);
  }
  100% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-500px);
            transform: translateZ(-500px);
    -webkit-filter: blur(12px) opacity(0%);
            filter: blur(12px) opacity(0%);
  }
}
